<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.edu.mapper.SystemDictionaryMapper">
    <resultMap id="BaseResultMap" type="cn.wolfcode.edu.domain.SystemDictionary">
        <id column="id" property="id"/>
        <result column="sn" property="sn"/>
        <result column="name" property="name"/>
        <result column="intro" property="intro"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from `systemdictionary`
    where id = #{id}
  </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into `systemdictionary` (sn, name, intro)
    values (#{sn}, #{name}, #{intro})
  </insert>
    <update id="updateByPrimaryKey" parameterType="cn.wolfcode.edu.domain.SystemDictionary">
    update `systemdictionary`
    set sn = #{sn},
      name = #{name},
      intro = #{intro}
    where id = #{id}
  </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select id, sn, name, intro
    from `systemdictionary`
    where id = #{id}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, sn, name, intro
    from `systemdictionary`
  </select>


    <select id="queryForCount" resultType="java.lang.Integer">
    SELECT count(id) FROM `systemdictionary`
  </select>
    <select id="queryForList" resultMap="BaseResultMap">
    SELECT id, sn, name, intro FROM `systemdictionary`
  </select>
</mapper>